body {
	color: #000;
	background-color: #fff;
	font: 100%/1.2 sans-serif;
}

:link {
	color: #1593D3;
}

:visited {
	color: #38C;
}
/* Logo */
.header {
	background: #247201 url(http://filamentgroup.com/images/headerbg-new.jpg) no-repeat bottom left;
}
#fg-logo {
	text-indent: -9999px;
	margin: 0 auto;
	width: 287px;
	height: 52px;
	background-image: url(http://filamentgroup.com/images/fg-logo-icon.png);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5){
	#fg-logo {
		background-size: 287px 52px;
		background-image: url(http://filamentgroup.com/images/fg-logo-icon-lrg.png);
	}
}

/* Customized Demo CSS for our Demo Tables */
.tablesaw-columntoggle td.title a,
.tablesaw-swipe td.title a {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 10em;
}
@media (min-width: 40em) {
	td.title {
		max-width: 12em;
	}
	.tablesaw-stack td.title a {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 10em;
		max-width: 40vw;
	}
}