.table-advance {
	display: block;
	float: right;
}
.table-advance.minimap {
	margin-right: .4em;
}
.table-advance-dots {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}
.table-advance-dots li {
	display: table-cell;
	margin: 0;
	padding: .4em .2em;
}
.table-advance-dots li i {
	width: .25em;
	height: .25em;
	background: #555;
	border-radius: 100%;
	display: inline-block;
}
.table-advance-dots-hide {
	opacity: .25;
	cursor: default;
	pointer-events: none;
}