@supports( background-attachment: local ) {
	.tablesaw-overflow-shadows:not(.tablesaw-overrides-chromer) {
		/* Thanks to http://lea.verou.me/2012/04/background-attachment-local/ (modified for horizontal overflow) */
		background:
			/* Shadow covers */
			linear-gradient(to right, white 30%, rgba(255,255,255,0)) 0 0,
			linear-gradient(to right, rgba(255,255,255,0), white 70%) top right,
			/* Shadows */
			radial-gradient(50% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) -6px 0,
			radial-gradient(50% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) top right -6px;
		background-repeat: no-repeat;
		background-color: white;
		background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;

		/* Note: Edge does not support `local`, false positives in @supports */
		/* Note: Android Browser does not support `local` */
		 background-attachment: local, local, scroll, scroll;

		/* Note: Chrome on Android only supports `background-attachment: local` when used with `border-radius` */
		border-radius: .1px;
	}

	/* Alternative override for Chrome.
	 * We’re using two different shadows here to work around Chrome’s background-attachment issues */
	.tablesaw-overflow-shadows.tablesaw-overrides-chromer {
		/* Shadows */
		background:
			radial-gradient(50% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) -6px 0,
			radial-gradient(50% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) top right -6px;
		background-repeat: no-repeat;
		background-size: 14px 100%;
	}

	.tablesaw-overflow-shadows.tablesaw-overrides-chromer table {
		/* Shadow covers */
		background:
			linear-gradient(to right, white 30%, rgba(255,255,255,0)) 0 0,
			linear-gradient(to right, rgba(255,255,255,0), white 70%) top right;
		background-repeat: no-repeat;
		background-size: 40px 100%;

		/* Note: Edge does not support `local`, false positives in @supports */
		/* Note: Android Browser does not support `local` */
		 background-attachment: local;

		/* Note: Chrome on Android only supports `background-attachment: local` when used with `border-radius` */
		border-radius: .1px;
	}
}

.tablesaw th,
.tablesaw td {
	padding: .5em .7em;
	text-align: left;
	vertical-align: middle;
}
.tablesaw-sortable-btn {
	/* same as cell padding above */
	padding: .5em .7em;
}
.tablesaw thead th {
	text-align: left;
}

/* Table rows have a gray bottom stroke by default */ 
.tablesaw-row-border tr {
	border-bottom: 1px solid #dfdfdf;
}
/* Zebra striping */
.tablesaw-row-zebra tr:nth-child(2n) {
	background-color: #f8f8f8;
}

.tablesaw caption {
	text-align: left;
	margin: .59375em 0;
}

.tablesaw-swipe .tablesaw-swipe-cellpersist {
	border-right: 2px solid #e4e1de;
}
.tablesaw-swipe-shadow .tablesaw-swipe-cellpersist {
	border-right-width: 1px;
}
.tablesaw-swipe-shadow .tablesaw-swipe-cellpersist {
	box-shadow: 3px 0 4px -1px #e4e1de;
}