table {
	empty-cells: show;
	max-width: 100%;
	width: 100%;
}
table td,
table tbody th {
	font-family: sans-serif;
}
table tbody th {
	font-weight: bold;
}
table thead th,
table thead td {
	color: #444;
	font-size: .8em;
}
table tbody th,
table tbody td {
	padding: .4em 0 .3em .6em;
}
.numeric tbody td {
	text-align:right;
	padding-right:.8em;
}


.tablesaw {
	border: 0;
	border-collapse: collapse;
	padding: 0;
	width: 100%;
}
.tablesaw a {
	white-space: nowrap;
	display: block;
	overflow: hidden;
}
.tablesaw .user-thumb {
	width: 32px;
	height: 32px;
	margin: .1em .6em 0 0;
}
.tablesaw th,
.tablesaw td {
	line-height: 1em;
	text-align: left;
	vertical-align: middle;
}
.tablesaw td,
.tablesaw tbody th {
	vertical-align: middle;
	font-size: 1.17em; /* 19px */
}
.tablesaw td .btn,
.tablesaw tbody th .btn {
	margin:0;
}
.tablesaw tbody th.group {
	font-family: sans-serif;
	font-size:1em;
	text-transform: uppercase;
	font-weight: bold;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-top: .8em;
	padding-bottom: .6em;
	color: #008b92;
	background-color:#f7f7f7;
}

.tablesaw thead {
	border: 1px solid #e5e5e4;
	position:relative;
	background: #e2dfdc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e2dfdc));
	background-image: -webkit-linear-gradient(top, #ffffff, #e2dfdc);
	background-image: -moz-linear-gradient(top, #ffffff, #e2dfdc);
	background-image: -o-linear-gradient(top, #ffffff, #e2dfdc);
	background-image: linear-gradient(to bottom, #ffffff, #e2dfdc);
}
.tablesaw thead th {
	position: relative;
	padding: .6em .8em;
	font-weight: 100;
	color: #777;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #fff;
	text-align: left;
}
.tablesaw thead tr:first-child th {
	font-weight: normal;
	padding-top: .9em;
	padding-bottom: .7em;
	font-family: sans-serif;
	border-right: 1px solid #e4e1de;
}

.tablesaw thead .group-top {
	background: #f7f3ed;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7f3ed));
	background-image: -webkit-linear-gradient(top, #ffffff, #f7f3ed);
	background-image: -moz-linear-gradient(top, #ffffff, #f7f3ed);
	background-image: -o-linear-gradient(top, #ffffff, #f7f3ed);
	background-image: linear-gradient(to bottom, #ffffff, #f7f3ed);
}
.tablesaw thead .group-bottom {
	background: #f7f3ed;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f3ed), to(#e2dfdc));
	background-image: -webkit-linear-gradient(top, #f7f3ed, #e2dfdc);
	background-image: -moz-linear-gradient(top, #f7f3ed, #e2dfdc);
	background-image: -o-linear-gradient(top, #f7f3ed, #e2dfdc);
	background-image: linear-gradient(to bottom, #f7f3ed, #e2dfdc);
}

/* Table rows have a gray bottom stroke by default */ 
.tablesaw tbody tr {
	border-bottom: 1px solid #dfdfdf;
}
/* Optional white row striping for dark tables */ 
.tablesaw.row-stripe-white tbody tr {
	border-bottom: none;
}
.tablesaw.row-stripe-white tbody tr:nth-child(odd) {
	background: #fff;
}

/* Optional gray row striping with vertical lines for display data tables */ 
.report-data tbody tr {
	border: none;
}
.tablesaw.report-data tbody td,
.tablesaw.report-data tbody th {
	border-right: 1px solid #e6e6e6;
	border-bottom: 0;
}
.tablesaw.report-data tbody td:first-child,
.tablesaw.report-data tbody th:first-child {
	border-left: 1px solid #e6e6e6;
}
.report-data tbody tr:nth-child(even) {
	background: #f8f7f6;
}
.report-data tbody tr:nth-child(odd) {
	background: #ffffff;
}

/* Optional shadow and stroke for tables */ 
.shadow {
	border: 1px solid #ccc;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}



.tablesaw td a {
	font-weight:bold;
}
.tablesaw caption {
	text-align:left;
	margin-bottom:1.4em;
	opacity:50%;
}

.tablesaw thead tr.th-groups th {
	font-family: sans-serif;
	font-weight: bold;
	color:#777;
}

/* Column color coding */
.tablesaw thead th .swatch {
	width: 100%;
	height: 4px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

/*
 Styles for the table stack mode
*/
.tablesaw-stack td .tablesaw-cell-label,
.tablesaw-stack th .tablesaw-cell-label {
	display: none;
}

.tablesaw .nope {
	position: relative;
}
.tablesaw .error {
	outline: 1px solid #d22d2e;
	background: #fbe8e8;
}

/* Mobile first styles: Begin with the stacked presentation at narrow widths */ 
@media only all {
	/* Show the table cells as a block level element */ 
	.tablesaw-stack td,
	.tablesaw-stack th { 
		text-align: left;
		display: block;
	}
	.tablesaw-stack tr {
		clear: both;
		display: table-row;
	}
	/* Make the label elements a percentage width */ 
	.tablesaw-stack td .tablesaw-cell-label,
	.tablesaw-stack th .tablesaw-cell-label { 
		display: block;
		padding: 0 .6em 0 0;
		min-width: 30%; 
		display: inline-block; 
	}
	/* For grouped headers, have a different style to visually separate the levels by classing the first label in each col group */ 
	.tablesaw-stack th .tablesaw-cell-label-top,
	.tablesaw-stack td .tablesaw-cell-label-top {
		display: block;
		padding: .4em 0;
		margin: .4em 0;
		text-transform: uppercase;
		font-size: .9em;
		font-weight: normal;
	}
	.tablesaw-cell-label {
		display: block;
		font-size: .65em;
		text-transform: uppercase;
		color: #888;
		font-family: sans-serif;
	}
	/* Avoid double strokes when stacked */
	.tablesaw-stack tbody th.group {
		border-bottom: none;
		margin-top:-1px;
	}
	/* Avoid double strokes when stacked */
	.tablesaw-stack th.group b.tablesaw-cell-label {
		display: none !important;
	}

	.tablesaw-stack .tablesaw-row-collapsible {
		cursor: pointer;
	}
	.tablesaw-stack .tablesaw-row-collapsible .tablesaw-cell-collapsible {
		display: none;
	}

	.tablesaw-stack .tablesaw-row-collapsible.open .tablesaw-cell-collapsible {
		display: block;
	}
}

@media (max-width: 40em) {
	/* Avoid double top borders when stacked.  */ 
	table[data-mode="stack"] thead,
	.tablesaw.tablesaw-stack thead {
		border-top: 0;
	}
	table[data-mode="stack"] thead td,
	table[data-mode="stack"] thead th,
	.tablesaw-stack thead td,
	.tablesaw-stack thead th {
		display: none;
	}
}

/* Media query to show as a standard table at 560px (35em x 16px) or wider */ 
@media (min-width: 40em) {
	.tablesaw-stack tr {
		display: table-row;
	}
	/* Show the table header rows */ 
	.tablesaw-stack td,
	.tablesaw-stack th,
	.tablesaw-stack tbody th,
	.tablesaw-stack tbody td,
	.tablesaw-stack thead td,
	.tablesaw-stack thead th {
		display: table-cell;
		margin: 0;
	}
	/* Hide the labels in each cell */ 
	.tablesaw-stack td .tablesaw-cell-label,
	.tablesaw-stack th .tablesaw-cell-label { 
		display: none !important;
	}

	.tablesaw-stack .tablesaw-row-collapsible {
		cursor: default;
	}

	.tablesaw-stack .tablesaw-row-collapsible.open .tablesaw-cell-collapsible,
	.tablesaw-stack .tablesaw-row-collapsible .tablesaw-cell-collapsible {
		display: none;
	}

	.tablesaw td {
		line-height: 2em;
	}
}

/* Column navigation buttons for swipe and columntoggle tables */
.tablesaw-bar .tablesaw-advance {
	position: relative;
	top: -2.6em;
}
.tablesaw-advance .btn {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	text-shadow: 0 1px 0 #FFF;
	border-radius: .25em;
}
.tablesaw-advance .btn.btn-micro {
	font-size: .8125em;
	padding: .4em .7em .25em .7em;
}
.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn {
	*display: inline;
	zoom: 1;
	display: inline-block;
	overflow: hidden;
	width: 1.8em;
	height: 1.8em;
	background-position: 50% 50%;
	margin-left: .5em;
}
.tablesaw-advance a.tablesaw-nav-btn.disabled {
	opacity: .25;
	cursor: default;
	pointer-events: none;
}

/* Table Toolbar */
.tablesaw-bar {
	clear: both;
	font-family: sans-serif;
}
.tablesaw-bar.mode-swipe,
.tablesaw-bar.mode-columntoggle {
	margin-top: -2em;
	position: relative;
	top: 2em;
}
.tablesaw-toolbar {
	font-size: .875em;
}
.tablesaw-toolbar label {
	padding: .5em 0;
	clear: both;
	display: block;
	color: #888;
	margin-right: .5em;
	text-transform:uppercase;
}
.tablesaw-bar .btn,
.tablesaw-enhanced .tablesaw-bar .btn {
	margin-top: .5em;
	margin-bottom: .5em;
}
.tablesaw-bar .btn-select,
.tablesaw-enhanced .tablesaw-bar .btn-select {
	margin-bottom: 0;
}
.tablesaw-bar .tablesaw-toolbar .btn {
	margin-left: .4em;
	margin-top: 0;
	text-transform:uppercase;
	border: none;
	box-shadow: none;
	background: transparent;
	font-family: sans-serif;
	font-size: 1em;
	padding-left: .3em;
}
.tablesaw-bar .tablesaw-toolbar .btn-select {
	min-width: 0;
}
.tablesaw-bar .tablesaw-toolbar .btn-select:after {
	padding-top: .9em;
}
.tablesaw-bar .tablesaw-toolbar select {
	color: #888;
	text-transform: none;
	background: transparent;
}
.tablesaw-toolbar ~ table {
	clear: both;
}
.tablesaw-toolbar .a11y-sm {
	clip: rect(0 0 0 0);
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}
@media (min-width: 24em) {
	.tablesaw-toolbar .a11y-sm {
		clip: none;
		height: auto;
		width: auto;
		position: static;
		overflow: visible;
	}
}
@media (min-width: 40em) {
	.tablesaw-bar.mode-swipe,
	.tablesaw-bar.mode-columntoggle {
		margin-top: 0;
		top: 0;
	}
	.tablesaw-bar .tablesaw-advance {
		position: static;
	}
	.tablesaw-bar {
		margin-top: 0;
		position: static;
	}
}