table.tablesaw {
	empty-cells: show;
	max-width: 100%;
	width: 100%;
}
.tablesaw {
	border-collapse: collapse;
	width: 100%;
}

/* Structure */
.tablesaw {
	border: 0;
	padding: 0;
}
.tablesaw tbody th,
.tablesaw tbody td {
	padding: .4em 0 .3em .6em;
}
.tablesaw thead th {
	padding: .6em .8em;
}
.tablesaw thead tr:first-child th {
	padding-top: .9em;
	padding-bottom: .7em;
}