.tablesaw-fix-persist {
	table-layout: fixed;
}

.tablesaw-swipe-overflow.active {
	position: relative;
	/*overflow: hidden;*/
}
.tablesaw-swipe-overflow.active .tablesaw-overflow {
	position: static;
	/* width and margin-left set in JS */
	/* e.g. width: calc( 100% - 240px ); */
	/* e.g. margin-left: 240px; */
}
.tablesaw-swipe-overflow.active td.tablesaw-swipe-cellpersist,
.tablesaw-swipe-overflow.active th.tablesaw-swipe-cellpersist {
	position: absolute;
	left: 0;
	z-index: 2;
	display: block;
	/* width set in JS */
	/* e.g. width: 240px;*/
}
@media only all {
	/* Unchecked manually: Always hide */
	.tablesaw-swipe th.tablesaw-swipe-cellhidden,
	.tablesaw-swipe td.tablesaw-swipe-cellhidden {
		display: none;
	}
}