.tablesaw-modeswitch {
	clear: both;
}
.tablesaw-sortable-switch + .tablesaw-modeswitch {
	border-top: 1px solid #eae8e6;
}
@media (min-width: 40em) {
	.tablesaw-modeswitch {
		float: left;
		clear: none;
	}
	.tablesaw-sortable-switch + .tablesaw-modeswitch {
		border-top: none;
	}
}