.stickyheaders thead {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	top: 0;
}
.stickyclone {
	display: none;
}
.stickyclone.on {
	display: table;
	position: fixed;
	top: 0;
	margin-top: 0;
}
/* Headers without a default background look funky */
.stickyheaders thead,
.stickyclone.on {
	background-color: #fff;
	z-index: 5;
}